:root{
    --dark-mode: #000;
    --light-mode: #fff;
}
/* Classe bootstrap */
.nav-link{
    color: var(--light-mode);
}
/* Dark mode */
body{
    font-family: 'Roboto', sans-serif;
    background-color:var(--dark-mode);
    color:var(--light-mode);
}
body.dark-mode{
    background-color: var(--light-mode);
    color: var(--dark-mode);
}
.letra-dark{
    color: var(--dark-mode)
}
/* Estilos Gerais */
.row{
    margin: 0;
}

.container{
    padding: 70px 0;
}
nav p{
    font-size: 24px;
}
#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

#logo{
    width: 3.75rem;
}

#sobre-menu{
    font-size: 1.2rem;
}
#home-menu{
    font-size: 1.2rem;
    
}
