/*Estilos Gerais*/
body{
    font-family: 'Roboto', sans-serif;
}

.row{
    margin: 0;
}

.container{
    padding: 70px 0;
}

p, li{
    color: rgb(0, 0, 0);
}

/* Barra de Navegação: NavBar*/
header, .navbar{
    background-color: #d9d9d9;
}
nav p{
    font-size: 24px;
}
#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

#logo{
    width: 60px;
}
#navbar-links a{
    color: black;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
}
#sobre-menu{
    font-size: 1.5rem;
    color: black;
}
#home-menu{
    font-size: 1.5rem;
    color: black;
}

/* Botões */
.main-btn{
    background-color:#350D7C;
    color: #FFF;
    padding: 0.625rem ;
    padding: 1.25rem;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    border: 3px;
    transition: 0.5s;
    
}
.main-btn:hover{
    background-color: #5b3d91;
    color: #FFF;
    text-decoration: none;
    border-color: #350D7C;
}
#btn-ajuste{
    height: 200px;
}