/* Botões */
.main-btn{
    background-color:#350D7C;
    color: #FFF;
    padding: 0.625rem ;
    padding: 1.25rem;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    border: 3px;
    transition: 0.5s;
    
}
.main-btn:hover{
    background-color: #5b3d91;
    color: #FFF;
    text-decoration: none;
    border-color: #350D7C;
}
#btn-ajuste{
    height: 200px;
}