body{
    margin: 0;
    background-color: #dedede;
    display: flex;
    flex-direction: column;
}
#header{
    text-align: center;
}
#principal{
    flex: 2;
    display: flex;
}

.barralateral-esq{
    width: 15em;
    background-image: linear-gradient(to top, #72bf83, #5FB47A, #4CAA71, #399F69, #269460, #138A57, #007F4E);
    height: 100%;
}
.barralateral-dir{
    width: 15em;
    background-image: linear-gradient(to top, #72bf83, #5FB47A, #4CAA71, #399F69, #269460, #138A57, #007F4E);
    height: 100%;
}
.containerBotao{
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 0.125rem;
    justify-content: space-evenly;
    align-items: center;
}
.botao{
    background: transparent;
    text-align: center;
    justify-content: center;
    color: black;
    border-radius: 6.25rem;
    text-decoration: none;
    padding: 1.25rem;
    font-size: 1.12rem;
    border: 0.18rem solid #72bf83;
    font-weight: 700;
    width: 20rem;
    cursor: pointer;
}
.botao:hover{
    background:#72bf83;
}
.rodape{
    background-color:#72bf83;
    padding: 0.313rem;
    text-align: center;
    color: black;
}