<div class="container-fluid">
    <h2>Selecione a etapa que você deseja começar o estudo:</h2>
</div>
    <div class="container my-auto">

        <div class="align-items-center justify-content-center btn-ajuste-selecao overflow-y-auto grid-etapas">

            <button onclick="btnEtapa1()" class="btn selecao-etapas-btn" role="button">
                <div class="etapas-num">Etapa 1</div>
                <div class="svg-container-selecao">
                    <img class="icon-padding-sel-etapas" src="assets/img/nota-musical.svg" width="100" height="100"/>
                    <p>Notas musicais</p>
                </div>
                <!-- 1ª Etapa: Aprendendo o nome das notas musicais -->
            </button>

            <button  class="btn selecao-etapas-btn" role="button">
                <div class="etapas-num">Etapa 2</div>
                <div class="svg-container-selecao">
                    <img class="icon-padding-sel-etapas" src="assets/img/frequency.svg" width="100" height="100"/>
                    <p> Frequência Sonora</p>
                    <span>(Parte 1)</span>
                </div>   
                <!-- 2ª Etapa: Aprendendo sobra Frequência Sonora (Parte 1) -->
            </button>

            <button  class="btn selecao-etapas-btn" role="button">
                <div class="etapas-num">Etapa 3</div>
                <div class="svg-container-selecao">
                    <img class="icon-padding-sel-etapas" src="assets/img/frequency.svg" width="100" height="100"/>
                    <p> Frequência Sonora</p>
                    <span>(Parte 2)</span>
                </div>
                <!-- 3ª Etapa: Aprendendo sobre Frequência Sonora (Parte 2) -->
            </button>

            <button  class="btn selecao-etapas-btn" role="button">
                <div class="etapas-num">Etapa 4</div>
                <div class="svg-container-selecao">
                    <img class="icon-padding-sel-etapas" src="assets/img/music-imagens.svg" width="100" height="100"/>
                    <p>Notas musicais como imagens (Parte 1)</p>
                </div>
                <!-- 4ª Etapa: Representando notas musicais com imagens (Parte 1) -->
            </button>

            <button  class="btn selecao-etapas-btn" role="button">
                <div class="etapas-num">Etapa 5</div>
                <div class="svg-container-selecao">
                    <img src="assets/img/music-imagens.svg" width="100" height="100"/>
                    <p>Notas musicais como imagens (Parte 2)</p>
                </div>
                <!-- 5ª Etapa: Representando notas musicais com Imagens (Parte 2) -->
            </button>

            <button  class="btn selecao-etapas-btn" role="button">
                <div class="etapas-num">Etapa 6</div>
                <div class="svg-container-selecao">
                    <img class="icon-padding-sel-etapas" src="assets/img/music-imagens.svg" width="100" height="100"/>
                    <p>Notas musicais como imagens (Parte 3)</p>
                </div>
                <!-- 6ª Etapa: Representando notas musicais com Imagens (Parte 3) -->
            </button>

            <button  class="btn selecao-etapas-btn" role="button">
                <div class="etapas-num">Etapa 7</div>
                <div class="svg-container-selecao">
                    <img class="icon-padding-sel-etapas" src="assets/img/senoide.svg" width="100" height="100"/>
                    <p>Acústica</p>
                </div>
                <!-- 7ª Etapa: Noções de acústica -->
            </button>

            <button  class="btn selecao-etapas-btn" role="button">
                <div class="etapas-num">Etapa 8</div>
                <div class="svg-container-selecao">
                    <img class="icon-padding-sel-etapas" src="assets/img/intensidade.svg" width="100" height="100"/>
                    <p>Intensidade sonora como imagens</p>
                </div>
                <!-- 8ª Etapa: Representação de intensidade sonora com imagens -->
            </button>

            <button  class="btn selecao-etapas-btn" role="button">
                <div class="etapas-num">Etapa 9</div>
                <div class="svg-container-selecao">
                    <img class="icon-padding-sel-etapas" src="assets/img/ritmo.svg" width="100" height="100"/>
                    <p>Ritmo</p>
                </div>
                <!-- 9ª Etapa: Noções de Ritmo -->
            </button>

            <button  class="btn selecao-etapas-btn" role="button">
                <div class="etapas-num">Etapa 10</div>
                <div class="svg-container-selecao">
                    <img class="icon-padding-sel-etapas" src="assets/img/resumo.svg" width="100" height="100"/>
                    <p>Resumo dos conceitos abordados</p>
                </div>
                <!-- 10ª Etapa: Resumindo os conceitos abordados -->
            </button>

        </div>
        <div class="btn-container"> 
            <button id="btn_voltar" onclick="btnVoltar()" class="btn selecao-etapas-btn" role="button">Voltar</button>
        </div>
    </div>