<div class="container-fluid">
    <h2>Selecione a etapa que você deseja começar o estudo:</h2>
</div>
    <div class="container my-auto">
        <div id="btn-ajuste" class="d-flex flex-column align-items-center justify-content-between">
            <button onclick="btnEtapa1()" class="btn main-btn selecao-etapas-btn" role="button">1ª Etapa: Aprendendo o nome das notas musicais</button>
            <button  class="btn main-btn selecao-etapas-btn" role="button">2ª Etapa: Aprendendo sobra Frequência Sonora (Parte 1)</button>
            <button  class="btn main-btn selecao-etapas-btn" role="button">3ª Etapa: Aprendendo sobre Frequência Sonora (Parte 2)</button>
            <button  class="btn main-btn selecao-etapas-btn" role="button">4ª Etapa: Representando notas musicais com imagens (Parte 1)</button>
            <button  class="btn main-btn selecao-etapas-btn" role="button">5ª Etapa: Representando notas musicais com Imagens (Parte 2)</button>
        </div>
        <button id="btn_voltar" onclick="btnVoltar()" class="btn main-btn selecao-etapas-btn" role="button">Voltar</button>
    </div>