
<div class="container-fluid">
    <p>Selecione a etapa que você deseja começar o estudo</p>
</div>
    <div class="container my-auto">
        <div id="btn-ajuste" class="d-flex flex-column align-items-center justify-content-between">
            <a href="#" class="btn main-btn" role="button">1ª Etapa: Aprendendo o nome das notas musicais</a>
            <a href="#" class="btn main-btn" role="button">2ª Etapa: Aprendendo sobra Frequência Sonora (Parte 1)</a>
            <a href="#" class="btn main-btn" role="button">3ª Etapa: Aprendendo sobre Frequência Sonora (Parte 2)</a>
            <a href="#" class="btn main-btn" role="button">4ª Etapa: Representando notas musicais com imagens (Parte 1)</a>
            <a href="#" class="btn main-btn" role="button">5ª Etapa: Representando notas musicais com Imagens (Parte 2)</a>
        </div>
    </div>