<div id="text" class="container-fluid">
    <h2>Escolha uma opção:</h2>
</div>
<div class="container my-auto tela-inicial-container">
    <div class="d-flex flex-wrap justify-content-center">
        <button id="btn_inicio" class="tela-inicial-btn btn btn-ajuste" type="button">
            <div class="svg-container-inicial">
                <img src="../assets/img/icon_read.svg" width="150" height="150"/>
                <p class="p-main-texto">É a primeira vez que você estuda música?</p>
                <p class="p-texto">Comece agora!</p>
            </div>
        </button>
        <button id="btn_sel_etapas" onclick="btnSelEtapas()" class="tela-inicial-btn btn btn-ajuste" type="button">
            <div class="svg-container-inicial">
                <img src="../assets/img/icon_student.svg" width="150" height="150"/>
                <p class="p-main-texto">Já estudou um pouco de música antes?</p>
                <p class="p-texto">Escolha seu nível!</p>
            </div>
        </button>
    </div>
</div>