<div class="container-fluid">
    <h2 class="pb-4">
        <strong>Escolha uma opção:</strong>
    </h2>
</div>
<div class="container my-4 tela-inicial-container">
    <div class="d-flex flex-wrap justify-content-center">
        <button id="btn_inicio" class="tela-inicial-btn btn btn-ajuste" type="button">
            <div class="svg-container-inicial">
                <div class="icon-container">
                    <img class="icon-img"  src="assets/img/icon_read.svg"/>
                </div>
                <h5>
                    <strong>É a sua primeira vez na nossa plataforma?</strong>
                </h5>
                Comece do zero!
            </div>
        </button>
        <button id="btn_sel_etapas" onclick="btnSelEtapas()" class="tela-inicial-btn btn btn-ajuste" type="button">
            <div class="svg-container-inicial">
                <div class="icon-container">
                    <img class="icon-img" src="assets/img/icon_student.svg"/>
                </div>
                <h5>
                    <strong>Já acessou nossa plataforma antes?</strong>
                </h5>
                Escolha a etapa desejada!
            </div>
        </button>
    </div>
</div>
