<div id="text" class="container-fluid">
    <h2>Escolha uma opção:</h2>
</div>
<div class="container my-auto tela-inicial-container">
    <div class="d-flex flex-wrap justify-content-center">
        <button id="btn_inicio" class="tela-inicial-btn btn btn-ajuste" type="button">
            <div class="svg-container-inicial">
                <div class="icon-container">
                    <img class="icon-img"  src="assets/img/icon_read.svg"/>
                </div>
                <div>
                    <p class="p-main-texto">É a sua primeira vez na nossa plataforma?</p>
                    <p class="p-texto">Comece do zero!</p>
                </div>
            </div>
        </button>
        <button id="btn_sel_etapas" onclick="btnSelEtapas()" class="tela-inicial-btn btn btn-ajuste" type="button">
            <div class="svg-container-inicial">
                <div class="icon-container">
                    <img class="icon-img" src="assets/img/icon_student.svg"/>
                </div>
                <div>
                    <p class="p-main-texto">Já acessou nossa plataforma antes?</p>
                    <p class="p-texto">Escolha a etapa desejada!</p>
                </div>
            </div>
        </button>
    </div>
</div>
