<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Por exemplo, considere a nota C1 abaixo.</h5>
            <p>Esta nota está com intensidade alta, ou seja, nota forte.</p>
        </div>
        <div class="d-flex justify-content-around">
            <div class="d-flex cor-notas-bg justify-content-around">
                <div class="w-10 text-white">C1
                    <div class="h-75 d-flex flex-column justify-content-evenly">
                        <div class="h-15 cor-nota-do-c1 cor-hsl"></div>
                        <div class="h-15 cor-nota-do-c1 cor-hsl"></div>
                        <div class="h-15 cor-nota-do-c1 cor-hsl"></div>
                        <div class="h-15 cor-nota-do-c1 cor-hsl"></div>
                        <div class="h-15 cor-nota-do-c1 cor-hsl"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="btn-etapas-container  ">
    <div class="btn-container">
        <a href="conteudo_inicial8.html" id="btn-voltar-context" class="btn selecao-etapas-btn" role="button">Voltar</a>
    </div>
    <div class="btn-container">
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa8.etapa8Conteudo3)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
</div>