<div class="d-flex flex-column justify-content-center container align-items-center etapa1-container pt-4">
    <div class="d-flex justify-content-center align-items-center etapa1-menu-container">
        <div>
            <h1>Parabéns!! Você terminou a etapa 8.</h1>
            <h5>Clique no botão abaixo para ir para a próxima etapa.</h5>
        </div>

    </div>

    <div class="d-flex justify-content-center align-items-center icon-container-trofeu">
        <img class="icon-trofeu" src="../../assets/img/gif_trofeu.gif" />
    </div>
    <div class="btn-etapas-container  ">
        <div class="btn-container">
            <a onclick="refazerExec(telas.etapa8Tela1, 8)" id="" class="btn selecao-etapas-btn" role="button">Refazer a etapa</a>
        </div>
        <div class="btn-container">
            <a onclick="parabens(9)" href="../etapa9/conteudo_inicial9.html" id="btn-avancar-context" class="btn parabens-btn-avancar" role="button">Etapa 9</a>
        </div>
    </div>
</div>