<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Por exemplo, considere a nota C#1 abaixo.</h5>
            <p>Aqui a nota está com intensidade alta, ou seja, nota forte.</p>
        </div>
        <div class="d-flex justify-content-around">
            <div class="d-flex cor-notas-bg justify-content-around">
                <div class="w-10 text-white">C#1
                    <div class="d-flex h-75 w-100">
                        <div class="d-flex w-25 flex-column justify-content-end">
                            <div class="h-93 cor-sustenida"></div>
                        </div>
                        <div class="w-100 d-flex flex-column justify-content-end">
                            <div class="h-15 mt-2 cor-nota-do-c1 cor-hsl"></div>
                            <div class="h-15 mt-2 cor-nota-do-c1 cor-hsl"></div>
                            <div class="h-15 mt-2 cor-nota-do-c1 cor-hsl"></div>
                            <div class="h-15 mt-2 cor-nota-do-c1 cor-hsl"></div>
                            <div class="h-15 mt-2 cor-nota-do-c1 cor-hsl"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="btn-etapas-container  ">
    <div class="btn-container">
        <button id="btn-voltar-context" onclick="btnVoltarEtapas(conteudo_etapa8.etapa8Conteudo19)" class="btn selecao-etapas-btn" role="button">Voltar</button>
    </div>
    <div class="btn-container">
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa8.etapa8Conteudo21)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
</div>