<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Exercicio 5</h5>
            <p>Quais notas que existem apenas 1 semitom entre elas?</p>
        </div>
    </div>
    <div class="etapa1-grid-notas d-flex flex-wrap justify-content-around align-items-center">
        <div class="etapa1-notas" onclick="otrec()" role="button">E1 a F1 e B1 a C2</div>
        <div class="etapa1-notas" onclick="odarre()" role="button">D1 a E1 e E1 a F1</div>
        <div class="etapa1-notas" onclick="odarre()" role="button">C1 a D1 e G1 a A1</div>
        <div class="etapa1-notas" onclick="odarre()" role="button">G1 a A1 e B1 a C2</div>
    </div>
    <div class="mensagem" id="mensagem"></div>
</section>

<div class="btn-etapas-container  ">
    <div class="btn-container">
        <!-- <button id="btn-voltar-context" onclick="btnVoltarEtapas(conteudo_etapa6.etapa6Conteudo16)" class="btn selecao-etapas-btn" role="button">Voltar</button> -->
    </div>
    <div class="btn-container">
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa6.etapa6Conteudo22)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
</div>