<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Exercicio 6</h5>
            <p>Na nossa interface, como diferenciamos as notas sustenidas?</p>
        </div>
    </div>
    <div class="etapa1-grid-notas d-flex flex-column text-start">
        <div class="d-flex flex-column align-items-center">
            <ol>
                <li class="lista-alfa">Com uma barra branca na base da nota</li>
                <li class="lista-alfa">Com uma barra branca no topo da nota</li>
                <li class="lista-alfa">Com tamanho diferente da nota</li>
                <li class="lista-alfa">Não tem diferença da nota</li>
            </ol>
        </div>
        <div class="d-flex justify-content-evenly">
            <div class="etapa1-notas" onclick="odarre()" role="button">A</div>
            <div class="etapa1-notas" onclick="otrec()" role="button">B</div>
            <div class="etapa1-notas" onclick="odarre()" role="button">C</div>
            <div class="etapa1-notas" onclick="odarre()" role="button">D</div>
        </div>
    </div>
    <div class="mensagem" id="mensagem"></div>
</section>

<div class="btn-etapas-container  ">
    <div class="btn-container">
        <!-- <button id="btn-voltar-context" onclick="btnVoltarEtapas(conteudo_etapa6.etapa6Conteudo16)" class="btn selecao-etapas-btn" role="button">Voltar</button> -->
    </div>
    <div class="btn-container">
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa6.etapa6Conteudo23)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
</div>