<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Exercicio 4</h5>
            <p>Sabendo que um tom equivale a dois semitons.</p>
            <p>Quantos semitons há entre C1 e C2</p>
        </div>
    </div>
    <div class="etapa1-grid-notas d-flex flex-wrap justify-content-around align-items-center">
        <div class="etapa1-notas" onclick="odarre()" role="button">11 semiton</div>
        <div class="etapa1-notas" onclick="otrec()" role="button">12 semitons</div>
        <div class="etapa1-notas" onclick="odarre()" role="button">13 semitons</div>
        <div class="etapa1-notas" onclick="odarre()" role="button">14 semitons</div>
    </div>
    <div class="mensagem" id="mensagem"></div>
</section>

<div class="btn-etapas-container  ">
    <div class="btn-container">
        <!-- <button id="btn-voltar-context" onclick="btnVoltarEtapas(conteudo_etapa6.etapa6Conteudo16)" class="btn selecao-etapas-btn" role="button">Voltar</button> -->
    </div>
    <div class="btn-container">
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa6.etapa6Conteudo21)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
</div>