:root {
    --dark-mode: #000;
    --light-mode: #fff;
    --btn-bg: rgba(255, 255, 255, 0.125);
    --btn-bg-hover: #d3d4d58c;
    --progress-container-color: white;
    --progress-color: #E7322A;
    --progress-container-bg-color: #FF9B9B;
    --progress-value-root: 0;
    /* --progress-color2: #F06222;
    --progress-color3: #F59421;
    --progress-color4: #e6cc00;
    --progress-color5: #C0CA35;
    --progress-color6: #7DB341;
    --progress-color7: #41A24A;
    --progress-color8: #1D988D;
    --progress-color9: #0FAAC3;
    --progress-color10: #2591C2; */
}


/* Classe bootstrap */

.nav-link {
    color: var(--dark-mode);
}


/* Dark mode */

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--light-mode);
    color: var(--dark-mode);
}

body.dark-mode {
    background-color: var(--dark-mode);
    color: var(--light-mode);
}

.footer-dark-mode {
    background-color: var(--dark-mode);
    color: var(--light-mode);
}

.main-container {
    display: flex;
    flex-direction: column;
}

.btn-dark-mode {
    color: var(--light-mode);
}

.letra-light {
    color: var(--light-mode);
}

.letra-dark {
    color: var(--dark-mode);
}


/* Botões Gerais */

.main-btn:hover {
    background-color: var(--btn-bg-hover);
    color: #000;
    text-decoration: none;
}

.btn-ajuste {
    height: 100%;
    margin: 0.5rem;
}


/* Ícone dos bonecos da tela incial*/

.icon-container-inicial {
    padding: 1rem;
    max-width: 150px;
    max-height: 1500px;
}

.icon-img-inicial {
    height: 100%;
    width: 100%;
}


/* Estilos Gerais */

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 25px;
}

h5 {
    font-size: 16px;
}

.row {
    margin: 0;
}

.container {
    align-content: center;
}

nav p {
    font-size: 24px;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#sobre-menu {
    font-size: 1.2rem;
}

#home-menu {
    font-size: 1.2rem;
}

#etapas-menu {
    font-size: 1.2rem;
}

.lista-alfa {
    list-style-type: upper-alpha;
}

.math {
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}


/* Circulo de progresso */

@property --progress-value {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

@keyframes progress {
    to {
        --progress-value: var(--progress-value-root)
    }
}

.progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: radial-gradient(closest-side, var(--progress-container-color) 79%, transparent 80% 100%), conic-gradient(var(--progress-color) calc(var(--progress-value) * 1%), var(--progress-container-bg-color) 0);
    animation: progress 2s 1 forwards;
}

.progress-bar::before {
    counter-reset: percentage var(--progress-value);
    content: counter(percentage) '%';
    animation: progress 2s 1 forwards;
}


/* Desabilita os botões */

.disabled-btn {
    pointer-events: none;
    opacity: 0.4;
}

.space-up {
    padding: 2rem;
}

footer {
    background-color: var(--light-mode);
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer p {
    margin: 0;
}


/* Sweet Alert (Pop Up do botão "sobre" */

.swal-title {
    margin: 0px;
    font-size: 16px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
    margin-bottom: 28px;
    color: #000;
}

.swal-text {
    background-color: #FEFAE3;
    padding: 17px;
    border: 1px solid #F0E1A1;
    margin-top: 22px;
    text-align: center;
    color: #000000;
}

.swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #4962B3;
    font-size: 12px;
    border: 1px solid #3e549a;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.swal-footer {
    background-color: rgb(245, 248, 250);
    margin-top: 32px;
    border-top: 1px solid #E9EEF1;
    overflow: visible;
}

.swal-modal {
    width: 650px !important;
}