:root {
    --dark-mode: #000;
    --light-mode: #fff;
    --btn-bg: rgba(255, 255, 255, 0.125);
    --btn-bg-hover: #d3d4d58c;
}


/* Classe bootstrap */

.nav-link {
    color: var(--dark-mode);
}


/* Dark mode */

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--light-mode);
    color: var(--dark-mode);
}

body.dark-mode {
    background-color: var(--dark-mode);
    color: var(--light-mode);
}

.footer-dark-mode {
    background-color: var(--dark-mode);
    color: var(--light-mode);
}

footer {
    background-color: var(--light-mode);
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer p {
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.btn-dark-mode {
    color: var(--light-mode);
}

.letra-light {
    color: var(--light-mode);
}

.letra-dark {
    color: var(--dark-mode);
}


/* Botões Gerais */

.main-btn:hover {
    background-color: var(--btn-bg-hover);
    color: #000;
    text-decoration: none;
}

.btn-ajuste {
    height: 100%;
    margin: 0.5rem;
}


/* Ícone dos bonecos da tela incial*/

.icon-container-inicial {
    padding: 1rem;
    max-width: 150px;
    max-height: 1500px;
}

.icon-img-inicial {
    height: 100%;
    width: 100%;
}


/* Estilos Gerais */

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 25px;
}

h5 {
    font-size: 16px;
}

.row {
    margin: 0;
}

.container {
    align-content: center;
}

nav p {
    font-size: 24px;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#sobre-menu {
    font-size: 1.2rem;
}

#home-menu {
    font-size: 1.2rem;
}

.lista-alfa {
    list-style-type: upper-alpha;
}


/* Desabilita o botão de avançar */

.disable-btn {
    box-shadow: rgba(50, 50, 93, 0.082) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.014) 0px 18px 36px -18px inset;
    min-width: 4.5rem;
    text-align: center;
    padding: 0.5rem;
    border: none;
    border-radius: 5px 5px 5px 5px;
    pointer-events: none;
}