.cor-nota_marrom {
    color: rgb(167, 85, 2);
    /* background-color: #5e9c592a; */
  }

.cor-nota_cinza{
    color: rgb(116, 139, 151);
}

.cor-nota_rosa{
    color: rgb(255, 0, 255);
}

.cor-nota_amareloEscuro{
    color: rgb(159, 169, 31);
}

.cor-nota_laranja{
    color: rgb(255, 165, 0);
}

.cor-nota_amareloClaro{
    color: rgb(243, 211, 82);
}

.cor-nota_bege{
    color: rgb(255, 192, 203);
}

