:root{
    --dark-mode: #000;
    --light-mode: #fff;
    --btn-bg: rgba(255, 255, 255, 0.125);
    --btn-bg-hover: #d3d4d5;
}
/* Classe bootstrap */
.nav-link{
    color: var(--dark-mode);
}
/* Dark mode */
body{
    font-family: 'Roboto', sans-serif;
    background-color:var(--light-mode);
    color:var(--dark-mode);
}
body.dark-mode{
    background-color: var(--dark-mode);
    color: var(--light-mode);
}
.btn-dark-mode{
    color: var(--light-mode);
}
.letra-light{
    color: var(--light-mode);
}
.letra-dark{
    color: var(--dark-mode)
}
/* Estilos Gerais */
.row{
    margin: 0;
}

.container{
    padding: 70px 0;
}
nav p{
    font-size: 24px;
}
#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

#logo{
    width: 3.75rem;
}

#sobre-menu{
    font-size: 1.2rem;
}
#home-menu{
    font-size: 1.2rem;
}

.p-main-texto{
    font-weight: bolder; 
}
.p-texto{
    font-weight: lighter;
}