img{
    padding: 0 0 1rem 0;
}
.selecao-etapas-btn{
    background-color: var(--btn-bg);
    transition: 0.5s;
    border: 2px solid #eceeef ;
    
}
.selecao-etapas-btn:hover{
    background-color: var(--btn-bg-hover);
}
.svg-container-selecao{
    max-width: 12.5rem;
    height: 10rem;
}
.svg-container-selecao p{
    margin: 0;
}
.btn-ajuste-selecao button{
    margin:0.2rem 0.2rem ;
}

.scrollbar{
    width: 200px; 
    white-space: nowrap; 
    overflow-x: scroll;
}