/* Botões */
.tela-inicial-btn{
    background-color:#f8f9fa;
    transition: 0.5s;
}
.tela-inicial-btn:hover{
    background-color: #f8f9fa;
}
.main-btn:hover{
    background-color: #f8f9fa;
    color: #000;
    text-decoration: none;
}
.btn-ajuste{
    height: 100%;
}
.tela-inicial-container{
    height: 500px;
}