/* Botões */
.tela-inicial-btn{
    background-color: var(--btn-bg);
    transition: 0.5s;
    border: 1px solid #eceeef ;
}
.tela-inicial-btn:hover{
    background-color: var(--btn-bg-hover);
}

/* .tela-inicial-container{
    
} */
.svg-container-inicial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    max-width: 18.75rem;
}