<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Primeiro, vamos reforçar alguns exemplos de multiplicação:</h5>
            <p>Considere o número 1 (um).</p>
            <p>O número equivalente ao dobro de 1 é o <b>2 (dois)</b>.</p>
            <p>Pois, 1x2 = 2 (Um multiplicado por dois).</p>
        </div>
    </div>
</section>

<div class="btn-etapas-container  ">
    <div class="btn-container">
        <a href="conteudo_inicial9.html" id="btn-voltar-context" class="btn selecao-etapas-btn" role="button">Voltar</a>
    </div>
    <div class="btn-container">
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa9.etapa9Conteudo3)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
</div>