<div class="d-flex flex-column justify-content-center container align-items-center etapa1-container pt-4">
    <div class="d-flex justify-content-center align-items-center etapa1-menu-container">
        <h1>Parabéns! Etapa 1 concluída.</h1>
    </div>
    <div class="d-flex justify-content-center align-items-center icon-container-trofeu">
        <img class="icon-trofeu" src="../../assets/img/gif_trofeu.gif" />
    </div>
    <div class="d-flex justify-content-center align-items-center etapa1-menu-container">
        <div>
            <div class="p-2">
                <h5 class="certa-questao">
                    <div class="d-flex flex-row justify-content-evenly bg-secondary p-2 text-dark bg-opacity-25">
                        <span>Questões corretas:</span>
                        <div>
                            <span id="certaQuestao">6</span>
                            <span>/ 7</span>
                        </div>
                    </div>
                </h5>
            </div>
            <h5>Clique no botão abaixo para ir para a próxima etapa ou para refazer a etapa.</h5>
        </div>
    </div>
    <div class="btn-etapas-container ">
        <div class="btn-container">
            <a onclick="refazerExec(telas.etapa1Tela1, 1)" class="btn selecao-etapas-btn" id="refazer" role="button">Refazer a etapa</a>
        </div>
        <div class="btn-container">
            <a onclick="parabens(2)" href="../etapa2/conteudo_inicial2.html" id="btn-avancar-context" class="btn parabens-btn-avancar" role="button">Etapa 2</a>
        </div>
    </div>
</div>