<div class="d-flex flex-column justify-content-center container align-items-center etapa1-container"> 
    <div class="d-flex justify-content-center align-items-center etapa1-menu-container">
        <div class="icon-container etapa1-icon-prof">
            <img class="icon-img"  src="assets/img/professor.svg"/>
        </div>
        <div>
            <h2>Etapa 1</h2>
            <h5>Aprendendo o nome das notas musicais</h5>
        </div>
    </div>
    <!-- aqui -->
    <div id="conteudo-etapas">

    </div>
    
    <!-- até aqui -->
</div>