<div class="container my-auto etapa1-container">
    <img class="icon-img"  src="assets/img/professor.svg"/>
    <p>Etapa 1</p>
    <p>Aprendendo o nome das notas musicais</p>
    <div class="d-flex flex-wrap justify-content-center">
        <p>Existem sete (7) notas musicais, são elas:</p>
        <p>Dó -  Ré - Mi - Fá - Sol - Lá - Si</p>
    </div>
    <button>

    </button>

    
</div>
<!-- <h1> TESTE BACKGROUND</h1>
    <button id="btn_voltar" onclick="btnTesteArray()" class="btn main-btn selecao-etapas-btn" role="button">Teste Array</button>
    <button id="btn_voltar" onclick="btnVoltar()" class="btn main-btn selecao-etapas-btn" role="button">Voltar</button> -->