<div class="d-flex flex-column justify-content-center container align-items-center etapa1-container"> 
    <div class="d-flex justify-content-center align-items-center etapa1-menu-container">
        <div class="icon-container etapa1-icon-prof">
            <!-- <img class="icon-img"  src="assets/img/professor.svg"/> -->
        </div>
        <div>
            <h1>Parabéns!! Você terminou a etapa 1.</h1>
            <h5>Clique no botão abaixo para ir para a próxima etapa.</h5>
        </div>
    </div>
    <!-- aqui -->
    <div id="conteudo-etapas" class="container-estapas-div">

    </div>
    
    <!-- até aqui -->
</div>