<div class="d-flex flex-column justify-content-around etapa1-texto">
        <p>Para facilitar a memorização, vamos escrever o nome das notas musicais começando na nota Lá e terminando na nota Sol:</p>
    </div>
    <div class="etapa1-grid-notas d-flex flex-wrap justify-content-around align-items-center">
        <div class="etapa1-notas">
            Lá = A
        </div>
        <div class="etapa1-notas">
            Si = B
        </div>
        <div class="etapa1-notas">
            Dó = C
        </div>
        <div class="etapa1-notas">
            Ré = D
        </div>
        <div class="etapa1-notas">
            Mi = E
        </div>
        <div class="etapa1-notas">
            Fá = F
        </div>
        <div class="etapa1-notas">
            Sol = G
    </div>
</div>