<div id="conteudo-etapa1" class="d-flex flex-column justify-content-around etapa1-texto">
    <div>
        <h5>Exercício 7</h5>
    </div>
    <div>
        <p>Clique na letra que corresponde à nota Si:</p>
    </div>

</div>
<div class="etapa1-grid-notas d-flex flex-wrap justify-content-around align-items-center">
    <div id="odarre" class="etapa1-notas" onclick="verificaExercicio()" role="button">
        A
    </div>
    <div id="otrec" class="etapa1-notas" onclick="verificaExercicio()" role="button">
        B
    </div>
    <div id="odarre" class="etapa1-notas" onclick="verificaExercicio()" role="button">
        C
    </div>
    <div id="odarre" class="etapa1-notas" onclick="verificaExercicio()" role="button">
        D
    </div>
    <div id="odarre" class="etapa1-notas" onclick="verificaExercicio()" role="button">
        E
    </div>
    <div id="odarre" class="etapa1-notas" onclick="verificaExercicio()" role="button">
        F
    </div>
    <div id="odarre" class="etapa1-notas" onclick="verificaExercicio()" role="button">
        G
</div>
<div id="mensagem"></div>
</div>