<div class="d-flex flex-column justify-content-center container align-items-center etapa1-container"> 
    <div class="d-flex justify-content-center align-items-center etapa1-menu-container">
        <div class="icon-container etapa1-icon-prof">
            <img class="icon-img"  src="assets/img/professor.svg"/>
        </div>
        <div>
            <h2>Etapa 2</h2>
            <h5>Aprendendo sobre Frequência Sonora (Parte 1)</h5>
        </div>
    </div>
    <section id="conteudo-etapas" class="container-content">

    </section>
    <div class="btn-etapas-container d-flex justify-content-between">
        <div class="btn-container"> 
            <button id="btn-voltar-context" onclick="voltarConteudoEtapa1()" class="btn selecao-etapas-btn" role="button">Voltar para Selecionar Etapas</button>
        </div>
        <div class="btn-container"> 
            <button id="btn-avancar-context" onclick="btnAvancar()" class="btn selecao-etapas-btn" role="button">Avançar</button>
        </div>
    </div>
</div>