<div class="d-flex flex-column justify-content-around etapa1-texto">
    <div>
        <h5>Toda nota musical possui frequência sonora específica.</h5>
        <h5>Para entendermos isso, vamos escrever dois ciclos de Dó a Si:</h5>
        <h5>C, D, E, F, G, A, B, C, D, E, F, G, A, B</h5>
    </div>
    <div>
        <h5>Contando as notas de Dó a Dó, temos 8 notas no total.</h5>
        <h5>Dessa forma, podemos nos referir ao intervalo entre duas notas consecutivas de mesmo nome utilizando o termo "oitava"</h5>
    </div>
</div>
<div class="etapa1-grid-notas d-flex flex-wrap justify-content-around align-items-center">
    
</div>