<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5></h5>
        </div>
    </div>
</section>

<div class="btn-etapas-container  ">
    <div class="btn-container">
        <a href="conteudo_inicial10.html" id="btn-voltar-context" class="btn selecao-etapas-btn" role="button">Voltar</a>
    </div>
    <div class="btn-container">
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa10.etapa10Conteudo3)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
</div>