<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto ajuste-padding">
        <div>
            <h5>Agora, vamos relembrar como representamos a intensidade sonora utilizando imagens.</h5>
            <p>A intensidade sonora é representada pela quantidade de barras verticalmente. Quanto maior a intensidade da nota mais barras são representadas.</p>
            <p>No exemplo abaixo, temos a representação da nota C1 com a intensidade mais alta (nota forte) até a sua intensidade menor, ou seja, quando não está sendo emitida por nenhum instrumento musical.</p>
        </div>
        <div class="d-flex cor-notas-bg text-white justify-content-center">C1
            <div class="w-100 text-white mt-1 p-2">
                <div class="h-100 d-flex flex-column justify-content-end">
                    <div class="h-15 mt-2 cor-nota-do-c1 cor-hsl"></div>
                    <div class="h-15 mt-2 cor-nota-do-c1 cor-hsl"></div>
                    <div class="h-15 mt-2 cor-nota-do-c1 cor-hsl"></div>
                    <div class="h-15 mt-2 cor-nota-do-c1 cor-hsl"></div>
                    <div class="h-15 mt-2 cor-nota-do-c1 cor-hsl"></div>
                </div>
            </div>
            <div class="w-100 text-white mt-2 p-2">
                <div class="h-100 d-flex flex-column justify-content-end">
                    <div class="h-15 mt-2 cor-nota-do-c1 cor-hsl"></div>
                    <div class="h-15 mt-2 cor-nota-do-c1 cor-hsl"></div>
                    <div class="h-15 mt-2 cor-nota-do-c1 cor-hsl"></div>
                    <div class="h-15 mt-2 cor-nota-do-c1 cor-hsl"></div>
                </div>
            </div>
            <div class="w-100 text-white mt-2 p-2">
                <div class="h-100 d-flex flex-column justify-content-end">
                    <div class="h-15 mt-2 cor-nota-do-c1 cor-hsl"></div>
                    <div class="h-15 mt-2 cor-nota-do-c1 cor-hsl"></div>
                    <div class="h-15 mt-2 cor-nota-do-c1 cor-hsl"></div>
                </div>
            </div>
            <div class="w-100 text-white mt-2 p-2">
                <div class="h-100 d-flex flex-column justify-content-end">
                    <div class="h-15 mt-2 cor-nota-do-c1 cor-hsl"></div>
                    <div class="h-15 mt-2 cor-nota-do-c1 cor-hsl"></div>
                </div>
            </div>
            <div class="w-100 text-white mt-2 p-2">
                <div class="h-100 d-flex flex-column justify-content-end">
                    <div class="h-15 mt-2 cor-nota-do-c1 cor-hsl"></div>
                </div>
            </div>

            <div class="w-100 text-white mt-2 p-2">
                <div class="h-100 d-flex flex-column justify-content-end">
                </div>
            </div>

        </div>
    </div>
</section>

<div class="btn-etapas-container">
    <div class="btn-container">
        <button id="btn-voltar-context" onclick="btnVoltarEtapas(conteudo_etapa10.etapa10Conteudo23)" class="btn selecao-etapas-btn" role="button">Voltar</button>
    </div>
    <div class="btn-container">
        <button id="btn-avancar-context" onclick="btnAvancar(conteudo_etapa10.etapa10Conteudo25)" class="btn selecao-etapas-btn" role="button">Avançar</button>
    </div>
</div>