<section class="container-content">
    <div class="d-flex flex-column justify-content-around etapa1-texto">
        <div>
            <h5>Exercício 7</h5>
            <p></p>
            <p></p>
        </div>
        <div class="etapa1-grid-notas d-flex flex-column text-start">
            <div class="d-flex flex-column align-items-center">
                <ol>
                    <li class="lista-alfa"></li>
                    <li class="lista-alfa"></li>
                    <li class="lista-alfa"></li>
                    <li class="lista-alfa"></li>
                </ol>
            </div>
            <div class="d-flex flex-wrap justify-content-evenly">
                <div class="etapa1-notas odarre" onclick="odarre(telas.etapa10Tela1)" role="button">A</div>
                <div class="etapa1-notas odarre" onclick="odarre(telas.etapa10Tela1)" role="button">B</div>
                <div class="etapa1-notas odarre" onclick="odarre(telas.etapa10Tela1)" role="button">C</div>
                <div class="etapa1-notas otrec" onclick="otrec(conteudo_etapa10.etapa10Conteudo41)" role="button">D</div>
            </div>
        </div>
        <div class="mensagem" id="mensagem"></div>
</section>